/* 
  Copyright 2014 Rafis Bagautdinov
  http://www.apache.org/licenses/LICENSE-2.0.txt
*/
.stopSocket
{
	position: absolute;
	left: 0;
	bottom: 0;
}

.login_form
{
	float: none!important;
	margin: 0 auto;
	margin-top: 200px;
}
